@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 255 61 87;
    --brand-end: 242 85 106;
    --welcome: 5 6 15;
    --brand-highlight: 255 107 125;

    --android-brand: 255 61 87;
    --android-brand-end: 242 85 106;
    --android-welcome: 5 6 15;
    --android-brand-highlight: 255 107 125;
  }
}
